<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="TailBlazor.styles.css" />
    <link rel="stylesheet" href="site.min.css" />
    <HeadOutlet />
</head>

<body class="h-full">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
