@page "/"

<h1>Welcome to TailBlazor-Templates</h1>

<p>
TailBlazor-Templates is an ongoing Work-In-Progress, find the latest templates <a href="https://www.nuget.org/packages/McNerdius.TailBlazorTemplates/">on NuGet</a> or browse the code <a href="gh">on GitHub.</a>
</p>


<div>
    <img class="inline py-0" src="https://img.shields.io/github/last-commit/McNerdius/TailBlazor-Templates" alt="github latest commit">
    <img class="inline py-0" src="https://img.shields.io/github/commit-activity/m/McNerdius/TailBlazor-Templates" alt="github commit activity">
</div>
    
<hr />

<div class="text-3xl">
    <span>👉</span>
    <a href="/info" class="underline italic font-bold"> Jump to Usage Info Page</a>
    @* <span>👈</span> *@
</div>
    
<hr />

<p>Currently, the TailBlazor templates project starts with default <code>dotnet new</code> templates and integrates Tailwind CSS v3.  Only two <code>npm</code> packages are needed: <code>tailwindcss</code> itself, and <code>postcss-import</code> to enable usage of Tailwind directives such as <code>@@apply</code> and Sass-like nesting in your Scoped CSS (<code>*.razor.css</code>) files.</p>

<p>MSBuild targets and <code>npm</code> scripts are set up to take care of package installation, ensure proper build order, minify your CSS on publish, and pair Tailwind's incremental builds with .NET Hot Reload.  (Note that the .NET Hot Reload experience can vary for different project types - CSS updates will not always refresh the browser.  See <a href="https://github.com/dotnet/aspnetcore/issues/37496">here</a> for a workaround idea - making a component to do this is on my todo list.)</p>

<p>A PowerShell a <code>watch</code> script as well as Debug/Watch launch configurations for VS Code are included by default, but can be excluded by using <code>-vsc:false</code> and/or <code>-ps1:false</code>, respectively.</p>

<p>Current templates include:</p>

    <div class="grid grid-cols-[20ch,auto] even:bg-slate-500 pb-8">
        <div>template name</div><div>source template</div>
        <div><code>tailblazor-wasm</code></div>
        <div><code>blazorwasm</code></div>
        <div><code>tailblazor-server</code></div>
        <div><code>blazorserver</code></div>
        <div><code>tailblazor-pages</code></div>
        <div><code>razor</code> (Razor Pages)</div>
        
        
        <div><code>tailblazor-full</code></div>
        <div>A solution with all of the above project types, using a shared Razor Class Library for UI.</div>
    </div>

<p>There's also a WIP <code>tailblazor-hosted</code> in the repo but Hot Reload support is so broken for its source template (<code>blazorwasm --hosted</code>) i'm not including it in the template pack yet.  Also in WIP, <code>tailblazor-maui</code> - CSS doesn't auto-reload, and MAUI itself is still in preview so this template will wait as well.</p>

<footer class="font-mono text-right">@@ Index.razor</footer>